[ng-click] {
  cursor: pointer;
}

html, body {
  height: 100%;
}

body {
  height: auto !important;
}

#container {
  display: block;
  width: 100%;
  position: relative;
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height:100%; /* real browsers */
}

.hidden {
  display: none;
}