body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f6f6f6 !important;
}

.route {
  display: block;
}

#theme {
  #header > *, #footer > * {
    padding: 0 5% 0 5%;
  }
  & > md-content {
    margin: 15px 20% 15px 20%;
    position: relative;


  }
}

header {
  border-bottom: rgba(0,0,0,0.10) 1px solid;
  background-color: white;
  #header-links button {
    color: #FF5110;
    font-weight: bold;
    //& > * {
    //  display: inline-block;
    //  padding: 5px 10px;
    //  color: rgb(0, 174, 239);
    //  &:hover {
    //    background-color: darken(#f6f6f6, 5%);
    //  }
    //}
  }
}


h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 137, 175);
  font-family: 'Open Sans', sans-serif;
}
h3, h4, h5, h6 {
  color: rgb(0, 174, 239);
}

a {
  color: #FF5110;
  font-weight: bold;
  cursor: pointer;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}