<div class="route route-starting.publishing">
    <section>
        <h1>Publishing Page</h1>
    </section>
    <section>
        <md-content>
            <form name="testForm" on-submit="vm.submitForm()">
                <div layout="row">
                    <md-input-container>
                        <label>Title</label>
                        <input name="userName" type="text" ng-model="vm.user.name" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <textarea name="Jim" ng-model="vm.user.isActive" required md-maxlength="2"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Type</label>
                        <md-select name="jim" ng-model="vm.user.type" required>
                            <md-option value="admin">Admin</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex-grow></div>
                    <md-input-container>

                        <md-radio-group ng-model="data.group1">
                            <md-radio-button value="Active">Active</md-radio-button>
                            <md-radio-button value="Inactive">Inactive</md-radio-button>
                            <md-radio-button value="Both">Both</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
                <div layout="row">
                <md-button class="md-raised md-primary" type="submit">Submit</md-button>
                </div>
            </form>
        </md-content>
    </section>
</div>